@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#main-header {
  font-size: 4rem;
  font-family: "Audiowide", sans-serif;
}

.next-logo {
  padding: 2rem 0rem;
}

#table {
  background-color: rgba(255, 255, 255, 0.854);
  padding: 3rem 2rem;
}

.MuiBox-root.css-19midj6 {
  background-color: white;
}
